<% form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
  <% for user in User.all %>  
     <div>  
       <%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) %>  
       <%= user.username %>  
     </div>  
  <% end %>   
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
