<% title "Projects" %>

<div class="block" id="block-tables">
	<div class="secondary-navigation">
    	<ul>
			<%= render :partial => 'submenu' %>
			<%# yield :submenu %>
    	</ul>
    	<div class="clear"></div>
  	</div>
	<div class="content">
		<h2 class="title">Tables</h2>
    	<div class="inner">

			<p><%= link_to "New Activity", new_activity_path %></p>

	      	<form action="#" class="form">
	            <table class="table">
	              <tr>
	                <th class="first"><input type="checkbox" class="checkbox toggle" /></th>
	                <th>Nome</th>
	                <th>Descrizione</th>
	                <th class="last">&nbsp;</th>
	              </tr>
	              <% for activity in @activities %>
					  			<tr class="<%= cycle('odd', 'even') -%>">
	          				<td><input type="checkbox" class="checkbox" name="id" value="<%= activity.id %>" /></td>
										<td><%=h activity.name %></td>
										<td><%=h activity.description %></td>
										<td class="last"><%= link_to "Show", activity %> | <%= link_to "Edit", edit_activity_path(activity) %> | <%= link_to "Destroy", activity, :confirm => 'Are you sure?', :method => :delete %></td>
	          			</tr>
				  			<% end %>
	            </table>
	            <div class="actions-bar">
	              <div class="actions">
	                <input type="submit" class="button" value="Delete" />
	              </div>
	              <div class="pagination">
									<%= will_paginate @activities %>
	              </div>
	              <div class="clear"></div>
	            </div>
	        </form>

    	</div>
	</div>
</div>
